* {
  box-sizing: border-box;
}



body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  text-shadow: 2px 2px gray;

}



.app-container{
  display: flex;
  height: 100vh;
  justify-content: center;
}

.label{
  display: none;
  color: white;
  font-size: 15vw;
}

.profPic{
  background: url('../images/Victor 1_Fotor.jpg');
  width: 20%;
  height: 20vh;
  margin: 5% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}


.panel{
  transition: 1s;
  width: 15%;
  align-self:auto;
  box-shadow: inset 0 0 0 0.25vw rgba(255,255,255,0.1);

}

.panel-1{
  background: url('../images/pexels-photo-48694.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel-2{
  background: url('../images/pexels-photo-52555.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel-3{
  background: url('../images/pexels-photo (1).jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel-4{
  background: url('../images/pexels-photo-149609.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel-5{
  background: url('../images/pexels-photo-47415.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*.panel-3:hover .icon-3{
  display: inherit;

}*/

.icon-2{
  position: relative;
  top: 40%;
  font-size: 8vw;
  left:40%;
  display: none;
}
.icon-1{
  position: relative;
  top: 40%;
  font-size: 8vw;
  left:40%;
  display: none;
}

.icon-3{
  position: relative;
  top: 40%;
  font-size: 8vw;
  left:40%;

  /*color: #47c994;*/
  display: none;
  /*animation: bounce 0.5s cubic-bezier(0.1, 0, 0.3, 1) infinite alternate;*/
}
.icon-4{
  position: relative;
  top: 40%;
  font-size: 8vw;
  left:40%;
  display: none;
}
.icon-5{
  position: relative;
  top: 40%;
  font-size: 8vw;
  left:40%;
  display: none;
}

.home .icon-3{
  left: 33%;
  display: inherit;
}
.home .icon-1{
  left: 33%;
  display: inherit;

}
.home .icon-2{
  left: 33%;
  display: inherit;

}
.home .icon-4{
  left: 33%;
  display: inherit;

}
.home .icon-5{
  left: 33%;
  display: inherit;

}
.home .panel:hover{
  background: radial-gradient(circle at center, rgba(255,255,255,1), rgba(175,175,175,1) );
}
.home .panel-content{
  display: none;
}
.home .panel:hover .icon-3{
  color: #4c9306
}
.home .panel:hover .icon-2{
  color: #b5834c
}
.home .panel:hover .icon-1{
  color: #859da1
}
.home .panel:hover .icon-4{
  color: #f8bb24
}
.home .panel:hover .icon-5{
  color: #bE694b
}

.sel-3 .panel-1{
  z-index: 10;
  /*position: relative;*/
  margin-right: -30px;
  width: 10%;
  height: 85vh;
  background: url('../images/pexels-photo-48694.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: skew(0deg, 20deg)rotate3d(0,1,0,20deg);

}
.sel-3 .shadow-1{
  background: linear-gradient(to left, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);
}
.sel-3 .panel-1 .panel-content {
  display: none;
}
.sel-3 .panel-2{
  z-index: 50;
  margin-right: -30px;
  width: 20%;
  height: 95vh;
  background: url('../images/pexels-photo-52555.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*transform: rotate3d(0,1,0,60deg);*/
  transform: skew(0deg, 10deg) rotate3d(0,1,0,10deg);
}

.sel-3 .shadow-2{
  background: linear-gradient(to left, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);
}
.sel-3 .panel-2 .panel-content {
  display: none;
}
.sel-3 .panel-3{
  height: 95vh;
  margin-left: -60px;
  transition: 0.7s;
  margin-right: -60px;
  width: 55%;
  background: url('../images/pexels-photo (1).jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10000;
  align-self:center;
  /*border: 5px solid white;*/
  overflow: hidden;

}
.sel-3 .panel-3 .panel-content{
  background: radial-gradient(circle at center, rgba(175,175,175,0.5), rgba(175,175,175,0.2) );
  height: 100%;
  overflow: hidden;
}
.sel-3 .shadow-3{
  display: none;
  transition: 1s;
}
.sel-3 .panel-4{
  z-index: 50;
  margin-left: -30px;
  width: 20%;
  height: 95vh;
  background: url('../images/pexels-photo-149609.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: skew(0deg, -10deg)rotate3d(0,1,0,-10deg);

}
.sel-3 .panel-4 .panel-content {
  display: none;
}
.sel-3 .shadow-4{
  background: linear-gradient(to right, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}
.sel-3 .panel-5{
  z-index: 10;
  margin-left: -30px;
  width: 10%;
  height: 85vh;
  background: url('../images/pexels-photo-47415.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: skew(0deg, -20deg)rotate3d(0,1,0,-20deg);

}
.sel-3 .panel-5 .panel-content {
  display: none;
}
.sel-3 .shadow-5{
  background: linear-gradient(to right, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}

.sel-4 .panel-4{
  align-self:center;
  width: 55%;
  height: 95vh;
  z-index: 10000;
  margin-left: -50px;
  transition: 0.7s;
  margin-right: -50px;
  border: 5px solid white;

}

.sel-4 .panel-4 .panel-content{
  background: radial-gradient(circle at center, rgba(175,175,175,0.5), rgba(175,175,175,0.2) );
  height: 100%;
}
.sel-4 .shadow-4{
  display: none;
  transition: 1s;
}
.sel-4 .panel-5{
  z-index: 50;
  margin-left: -30px;
  width: 20%;
  height: 95vh;
  transform: skew(0deg, -10deg)rotate3d(0,1,0,-10deg);
}
.sel-4 .panel-5 .panel-content {
  display: none;
}
.sel-4 .shadow-5{
  background: linear-gradient(to right, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}
.sel-4 .panel-3{
  z-index: 50;
  margin-right: -30px;
  width: 20%;
  height: 95vh;
  transform: skew(0deg, 10deg) rotate3d(0,1,0,10deg);
}
.sel-4 .panel-3 .panel-content {
  display: none;
}
.sel-4 .shadow-3{
  background: linear-gradient(to left, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}
.sel-4 .panel-2{
  z-index: 20;
  margin-right: -30px;
  width: 10%;
  height: 85vh;
  transform: skew(0deg, 20deg)rotate3d(0,1,0,20deg);
}
.sel-4 .shadow-2{
  background: linear-gradient(to left, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}
.sel-4 .panel-2 .panel-content {
  display: none;
}
.sel-4 .panel-1{
  z-index: 5;
  margin-right: -30px;
  width:8%;
  height: 75vh;
  transform: skew(0deg, 30deg)rotate3d(0,1,0,30deg);
}
.sel-4 .shadow-1{
  background: linear-gradient(to left, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}
.sel-4 .panel-1 .panel-content {
  display: none;
}


.panel__shadow{
  width: 100%;
  height: 100vh;
}
.shadow-right{
  background: linear-gradient(to left, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);
}
.shadow-left{
  background: linear-gradient(to right, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}
.shadow-current{

}
.panel-normal{
  margin: 0;
  transform: none;
  width: 20%;
  height: 100vh;
}
.shadow-none{
  display: none;
}



.sel-2 .panel-1{
  z-index: 50;

  background: url('../images/pexels-photo-48694.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 50;
  margin-right: -30px;
  width: 20%;
  height: 95vh;

  transform: skew(0deg, 10deg) rotate3d(0,1,0,10deg);
}
.sel-2 .shadow-1{
  background: linear-gradient(to left, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}
.sel-2 .panel-1 .panel-content {
  display: none;
}
.sel-2 .panel-2{
  align-self:center;
  width: 55%;
  height: 95vh;
  z-index: 10000;
  margin-left: -50px;
  transition: 0.7s;
  margin-right: -50px;
  background: url('../images/pexels-photo-52555.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*border: 5px solid white;*/
  overflow: hidden;
}
.sel-2 .panel-2 .panel-content{
  background: radial-gradient(circle at center, rgba(175,175,175,0.5), rgba(175,175,175,0.2) );
  height: 100%;
  font-size: 0;
  z-index: 1;
}
.sel-2 .shadow-2{
  display: none;
  transition: 1s;
}
.sel-2 .panel-3{

  background: url('../images/pexels-photo (1).jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transform: skew(0deg, -10deg)rotate3d(0,1,0,-10deg);
  z-index: 50;
  margin-left: -30px;
  width: 20%;
  height: 95vh;

}
.sel-2 .panel-3 .panel-content {
  display: none;
}
.sel-2 .shadow-3{
  background: linear-gradient(to right, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}
.sel-2 .panel-4{

  background: url('../images/pexels-photo-149609.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  margin-left: -30px;
  width: 10%;
  height: 85vh;
  transform: skew(0deg, -20deg)rotate3d(0,1,0,-20deg);
}
.sel-2 .shadow-4{
  background: linear-gradient(to right, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}
.sel-2 .panel-4 .panel-content {
  display: none;
}
.sel-2 .panel-5{
  z-index: 1;
  margin-left: -30px;
  width:8%;
  height: 75vh;
  background: url('../images/pexels-photo-47415.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: skew(0deg, -30deg)rotate3d(0,1,0,-30deg);
}
.sel-2 .panel-5 .panel-content {
  display: none;
}
.sel-2 .shadow-5{
  background: linear-gradient(to right, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}

.sel-1 .panel-1{
  align-self:center;
  width: 55%;
  height: 95vh;
  z-index: 10000;
  /*margin-left: -50px;*/
  transition: 0.7s;
  margin-right: -50px;
  /*border: 5px solid white;*/
  overflow: hidden;
}
.sel-1 .panel-1 .panel-content{
  background: radial-gradient(circle at center, rgba(175,175,175,0.5), rgba(175,175,175,0.2) );
  height: 100%;
}
.sel-1 .shadow-1{
  display: none;
  transition: 1s;
}
.sel-1 .panel-2{
  transform: skew(0deg, -10deg)rotate3d(0,1,0,-10deg);
  z-index: 50;
  margin-left: -30px;
  width: 20%;
  height: 95vh;
}
.sel-1 .panel-2 .panel-content {
  display: none;
}
.sel-1 .shadow-2{
  background: linear-gradient(to right, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}
.sel-1 .panel-3{
  z-index: 20;
  margin-left: -30px;
  width: 13%;
  height: 88vh;
  transform: skew(0deg, -20deg)rotate3d(0,1,0,-20deg);

}
.sel-1 .shadow-3{
  background: linear-gradient(to right, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}
.sel-1 .panel-3 .panel-content {
  display: none;
}
.sel-1 .panel-4{
  z-index: 10;
  margin-left: -40px;
  width:10%;
  height: 80vh;
  transform: skew(0deg, -30deg)rotate3d(0,1,0,-30deg);
}
.sel-1 .panel-4 .panel-content {
  display: none;
}
.sel-1 .shadow-4{
  background: linear-gradient(to right, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}
.sel-1 .panel-5{
  z-index: 1;
  margin-left: -40px;
  width:6%;
  height: 70vh;
  transform: skew(0deg, -35deg)rotate3d(0,1,0,-35deg);
}
.sel-1 .panel-5 .panel-content {
  display: none;
}
.sel-1 .shadow-5{
  background: linear-gradient(to right, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}

.sel-5 .panel-5{
  align-self:center;
  width: 55%;
  height: 95vh;
  z-index: 10000;
  margin-left: -50px;
  transition: 0.7s;
  border: 5px white solid;
  overflow: hidden;
  /*margin-right: -50px;*/
}
.sel-5 .panel-5 .panel-content{
  background: radial-gradient(circle at center, rgba(175,175,175,0.5), rgba(175,175,175,0.2) );
  height: 100%;
}
.sel-5 .shadow-5{
  display: none;
  transition: 1s;
}
.sel-5 .panel-4{
  transform: skew(0deg, 10deg)rotate3d(0,1,0,10deg);
  z-index: 50;
  margin-right: -30px;
  width: 20%;
  height: 95vh;
}
.sel-5 .panel-4 .panel-content {
  display: none;
}
.sel-5 .shadow-4{
  background: linear-gradient(to left, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}
.sel-5 .panel-3{
  z-index: 20;
  margin-right: -30px;
  width: 13%;
  height: 88vh;
  transform: skew(0deg, 20deg)rotate3d(0,1,0,20deg);
}
.sel-5 .panel-3 .panel-content {
  display: none;
}
.sel-5 .shadow-3{
  background: linear-gradient(to left, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}
.sel-5 .panel-2{
  z-index: 10;
  margin-right: -40px;
  width:10%;
  height: 80vh;
  transform: skew(0deg, 30deg)rotate3d(0,1,0,30deg);
}
.sel-5 .panel-2 .panel-content {
  display: none;
}
.sel-5 .shadow-2{
  background: linear-gradient(to left, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}
.sel-5 .panel-1{
  z-index: 1;
  margin-right: -40px;
  width:6%;
  height: 70vh;
  transform: skew(0deg, 35deg)rotate3d(0,1,0,35deg);
}
.sel-5 .panel-1 .panel-content {
  display: none;
}
.sel-5 .shadow-1{
  background: linear-gradient(to left, rgba(10,10,10,0.9) 25%, rgba(0,0,0,0) 60%);

}


.sel-1 .panel-normal{
  margin: 0;
  transform: none;
  width: 20%;
  height: 100vh;
}
.sel-2 .panel-normal{
  margin: 0;
  transform: none;
  width: 20%;
  height: 100vh;
}
.sel-3 .panel-normal{
  margin: 0;
  transform: none;
  width: 20%;
  height: 100vh;
}
.sel-4 .panel-normal{
  margin: 0;
  transform: none;
  width: 20%;
  height: 100vh;
}
.sel-5 .panel-normal{
  margin: 0;
  transform: none;
  width: 20%;
  height: 100vh;
}

.sel-1 .shadow-none{
  display: none;
}
.sel-2 .shadow-none{
  display: none;
}
.sel-3 .shadow-none{
  display: none;
}
.sel-4 .shadow-none{
  display: none;
}
.sel-5 .shadow-none{
  display: none;
}


.home__title{
  font-size: 7vw;
  text-align: center;
  margin: 0;
  color: goldenrod;
  text-shadow: 0.2vw 0.2vw black;
}

.home__sub-text{
  font-size: 2vw;
  text-align: center;
  text-shadow: 1px 1px black;

}

.home__icon{
  color: white;
  font-size: 3vw;
}

.icon-box{
  text-shadow: 0.2vw 0.2vw black;

  border: 1vw solid gray;
  padding: 2vw;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: inline-block;
  background: #859da1;
  /*width: 20%;*/
  /*margin: 15px;*/
}

.home_tiles{
  /*background: white;*/
  padding: 1vw;
  text-align: center;
  align-self: center;
  width: 32%;
  margin: auto;
  display: inline-block;
}

.tile-holder{
  margin: auto;
}

.abc1{
  /*display: inline-block;*/
  /*position: relative;
  bottom: 0;*/
  /*width: 30%;*/
  /*background: goldenrod;*/
  margin: 1vw;
  cursor: pointer;
  /*padding: 1em;*/
  text-shadow: none;
  color:goldenrod;
  /*height: 1vh;*/
  float: left;
  font-weight: 900;
  font-size: 2vw;
  border-radius: 100%;
  margin-top: 2vw;
}
.abc2{
  margin: 1vw;
  cursor: pointer;
  /*padding: 1em;*/
  text-shadow: none;
  /*-webkit-text-stroke: 1px white;*/
  color:goldenrod;
  /*height: 1vh;*/
  float: right;
  font-weight: 900;
  font-size: 2vw;
  border-radius: 100%;
  margin-top: 2vw;

}

.abc2 i {
  margin: 0em;
}
.abc1 i {
  margin: 0em;
}

.innerText{
  margin: 1vw;
}

.home_tiles p {
  text-shadow: 0.1vw 0.1vw black;
  font-size: 1vw;
  /*color: #F1A9A0;*/
}

.skills-holder{
  width: 100%;
  font-size: 0;
  margin: 0.3vw;
}

.skill-tile{
  display: inline-block;
  margin: auto;
  width: 30%;
  padding: 0;
  margin: 1.5%;
  text-shadow: 0.2vw 0.2vw black;
  text-align: center;

  /*border: 1vw solid gray;
  padding: 1vw;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: inline-block;
  background: #859da1;*/
  height: 9vw;

}

.skill-icon{
  border: 1vw solid gray;
  /*padding: 1vw;*/
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: inline-block;
  background: #859da1;
  text-align: center;
  font-size: 3vw;
  padding: 2vw;
  width: 65%;
  /*height: 5vw;*/
}

.skill-icon:hover{
  border: 1vw solid goldenrod;

}
.skills__title{
  text-shadow: 0.2vw 0.2vw black;
  font-size: 5vw;
  margin: 0;
  text-align: center;
  color: goldenrod;
}
.skills__sub-text{
  font-size: 1.5vw;
  margin: 0 0.5vw;
  text-shadow: 1px 1px black;
  text-align: center;
}

.about__sub-text{
  font-size: 2vw;
  margin: 0 0.5vw;
  text-shadow: 1px 1px black;
  text-align: center;
}

.project-row{
  font-size: 0;
  display: inline-block;
  width: 100%;
  padding: 0 5%;
  margin-bottom: 0;
}
.project-1{
  display: inline-block;
  margin: 6%;
  /*background: red;*/
  width: 35%;
  overflow-y: scroll;
  height: 15vw;
  margin-bottom: 3%;
  background: url("../images/cliqueUpAuth.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.project-2{
  display: inline-block;
  margin: 6%;
  /*background: red;*/
  width: 35%;
  height: 15vw;
  margin-bottom: 3%;
  background: url("../images/Screen Shot 2017-01-17 at 9.13.01 AM.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.project-3{
  display: inline-block;
  margin: 6%;
  /*background: red;*/
  width: 35%;
  height: 15vw;
  margin-bottom: 3%;
  background: url("../images/Screen Shot 2017-01-17 at 9.14.39 AM.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.project-4{
  display: inline-block;
  margin: 6%;
  /*background: red;*/
  width: 35%;
  height: 15vw;
  margin-bottom: 3%;
  background: url("../images/Screen Shot 2017-01-17 at 9.16.21 AM.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-text{
  font-size: 1vw;
  margin: 0 1vw;
  text-align: center;
  text-shadow: 0.1vw 0.1vw gray;
}

.contact-map{
  position: relative;
  bottom: -20vw;
  background: url('../images/charleston_map.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
   /*-webkit-mask-image:-webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
}



.angled-bar1{
  transform: rotate(12deg);
  top: 33%;
  position: relative;
  z-index: 1000;
  height: 12vw;
  max-height: 20vw;
  width: 100vw;
  background: white;
  left: 0;
  margin-left: -40vw;
}

.angled-bar2{
  transform: rotate(-13deg);
  top: 15%;
  position: relative;
  z-index: 1000;
  min-height: 12vw;
  width: 100vw;
  background: white;
  left: -7vw;
}
.panel-content-test{
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgba(180,180,180,1) , #fff);
  z-index: 1100;
}

.panel-3__icon{
  color: rgba(76, 147, 6, 0.1);
  text-shadow: none;
  font-size: 35vw;
  position: relative;
  top: 8vh;
  left: -5vw;
}

.under-panel{
  top: 0;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.test2{
  position: relative;
  /*padding-top: 2vh;*/

  font-size: 5vw;
  color: #ECECEC;
  font-family: 'Julius Sans One', sans-serif;
  /*top: -10vh;*/
  z-index: 2;
  text-shadow: 0px 11px 2px rgba(45, 45, 45, 1);
}
.test3{
  /*padding-top: 4vh;*/
  font-family: 'Julius Sans One', sans-serif;
  color: darkgray;
  font-size: 2vw;
  text-shadow: none;
  /*text-align: left;*/

}
.test1{
  font-family: 'Julius Sans One', sans-serif;
  /*text-align: left;*/
  color: black;
  z-index: 2;
  font-size: 1.1vw;
  font-weight: bold;
  /*font-family: inherit;*/
  text-shadow: none;
  /*padding-top: 2vh;*/
}

.top-panel{

  z-index: 100;
  position: relative;
  text-align: center;
  padding: 5vw;
  padding-top: 0;
  top: -30vh;
}
.home-box{
  /*margin-top: 2vh;*/
  display: inline-block;
  width: 33%;
  color: #2C3E50;
  text-shadow: none;
  /*font-size: 5vw;*/
  font-size: 0;
}
.home-box i{
  font-size: 5vw;
}

.home-box p {
  font-size: 1vw;
}

.icon-holder{
  padding-top: 2vh;
  width: 100%;
  font-size: 0;
}

.proj-box1{
  width: 20%;
  display: inline-block;
  height: 100vh;
  z-index: 1;
}
.proj-box{
  /*position: absolute;*/
  width: 70%;
  margin: 0;
  display: inline-block;
  height: 100vh;
  z-index: 2000000;
  background: linear-gradient(to left, #fff, #ffffff);

}

.proj-angle1{
  position: relative;
  top: -45vh;
  left: 5vh;
  /*margin-top: -100vh;*/
  width: 30%;
  display: inline-block;
  height: 100vh;
  z-index: 1;
  background: white;
  transform: rotate(-40deg);
}

.proj-under{
  top: 0;
  position: absolute;
  bottom: 0;
  width: 38vw;
  overflow: hidden;
  z-index: 0;
}

.panel-2__icon{
  color: rgba(181, 131, 76, 0.1);
  text-shadow: none;
  font-size: 25vw;
  position: relative;
  top: 5vh;
  /*left: 10vw;*/
  right: -20vw;
  z-index: 30;
}

.info-content{
  position: relative;
  top: -35vh;
  background: linear-gradient(to bottom, rgba(180,180,180,1) ,rgba(255,255,255,1), #fff);
  width: 100vw;
  height: 100vh;
}

.info-angle1{
  width: 100vw;
  transform: rotate(-6deg);
  height: 15vh;
  left: -10vh;
  top: -50vh;
  position: relative;
  z-index: 1000;
  background: white;

}

.info-angle2{
  width: 100vw;
  transform: rotate(16deg);
  height: 15vh;
  left: 8vh;
  top: -50vh;
  position: relative;
  z-index: 1000;
  background: white;
}
